
header, footer {
    text-align: center;
    padding: 45px 0;
}

input {
    margin-bottom: 20px;
}

p {
    margin-bottom: 0;
    color: #797979;
}

body {
    font-size: 1rem;
    word-break: break-word;
}

#jd-files-to-upload {
    background-color: grey;
    color: white;
    margin-left: -15px;
    max-width: 100vw;
}

.form-container {
    margin: auto;
    width: 40vw;
    min-width: 285px;
}

.file-listings {
    border: 1px solid #007bff;
    border-radius: 7px;
}

.file {
    padding: 10px 15px;
}

.file-listings > div:not(:first-child) {
    border-top: 1px solid #cecece;
}

.svg-icon {
    width: 3rem;
    height: auto;
    color: #007bff;
    transition: color 250ms ease-in;
}

.svg-icon:hover {
    color: #0069d9;
}

.fx-hover-up:hover {
    transform: translateY(-5px);
}

.fx-hover-up {
    transition: transform 300ms ease-out;
}