<html>

<head>
    <title>
        JD Rive
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h2>
            JD Rive
        </h2>
    </header>
    <div class="form-container">
        <form action="/login" method="POST" class="form-group">
            <input class="form-control" type="text" name="jd-username" id="jd-username" placeholder="Username">
            <input class="form-control" type="password" name="jd-password" id="jd-password" placeholder="Password">
            <input class="form-control btn-primary" type="submit" value="Login">
        </form>
    </div>
    <footer>
        Don't have an account? <a href="register.html">Register.</a>
    </footer>
</body>

</html>